ColumnLimit: 100
IndentWidth: 8
TabWidth: 8
UseTab: Always
AccessModifierOffset: -8
SortIncludes: true
SortUsingDeclarations: false
BreakBeforeBraces: Allman
IndentAccessModifiers: false
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
