CompileFlags:
  CompilationDatabase: build/
InlayHints:
    ParameterNames: No
    DeducedTypes: No
Diagnostics:
    UnusedIncludes: Strict
    MissingIncludes: Strict
    ClangTidy:
        Add:
            [
                bugprone-*,
                cert-*,
                cppcoreguidelines-*,
                hicpp-*,
                modernize-*,
                performance-*,
            ]
        Remove:
            [
                bugprone-easily-swappable-parameters,
                modernize-use-trailing-return-type,
            ]
        CheckOptions:
            cppcoreguidelines-avoid-do-while.IgnoreMacros: true
