ColumnLimit: 100
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
AlignAfterOpenBracket: BlockIndent
BracedInitializerIndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 100
UseTab: Always
AccessModifierOffset: -4
SortIncludes: true
SortUsingDeclarations: false
BreakBeforeBraces: Allman
IndentAccessModifiers: false
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
BreakTemplateDeclarations: Yes
BreakStringLiterals: false
PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*'
    Priority: 0
  - Regex: '^<(fmt|re2|argparse|apr_|svn_|date|toml\+\+|catch2|openssl|git2).*'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
