name: Build Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
            arch: x64

          - os: macos-latest
            platform: macos
            arch: arm64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Linux dependencies
        if: matrix.platform == 'linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libsvn-dev
          sudo apt install gcc-14
          sudo apt install g++-14
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 14
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 14
          gcc --version
          g++ --version

      - name: Install macOS dependencies
        if: matrix.platform == 'macos'
        run: |
          brew update
          brew install apr svn

      - name: Setup cmake
        uses: lukka/get-cmake@latest

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: "66c0373dc7fca549e5803087b9487edfe3aca0a1"

      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: "ninja"

      - name: Build
        run: cmake --build build --config=Release

      - name: Rename executable
        run: mv build/Release/svn-lfs-export build/Release/svn-lfs-export-${{runner.os}}-${{runner.arch}}

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: build/Release/svn-lfs-export-${{runner.os}}-${{runner.arch}}
          prerelease: true

permissions:
  contents: write
